/*  ==========================================================================
    Colors
    ========================================================================== */

$nw-blue: hsl(220, 100%, 67.5%);
$nw-red: hsl(2, 100%, 70%);
$nw-green: hsl(140, 100%, 70%);
$nw-yellow: hsl(42, 100%, 72%);

$header-black: #333;
$paragraph-black: #222;

$primary-color: #03A9F4;
$secondary-color: #F44336;
$alert-color: #f04124;
$success-color: #43AC6A;
$warning-color: #f08a24;
$info-color: #a0d3e8;

$white       : #FFFFFF;
$off-white   : #FAFAFA;
$ghost       : #F7FFF6;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;