/*  ==========================================================================
    Media queries
    ========================================================================== */

$screen-xs-breakpoint: 30em; // 480px
$screen-sm-breakpoint: 48em; // 768px
$screen-md-breakpoint: 62em; // 992px
$screen-lg-breakpoint: 75em; // 1200px

$container-sm: 45rem;
$container-md: 60rem;
$container-lg: 70rem;
