/*  ==========================================================================
    Header styles for:
        .l-footer
    ========================================================================== */

.l-footer {
    padding: 2.5rem 0 5rem;
    text-align: center;
}

    .l-footer__copyright {
        opacity: 0.5;
    }