/*  ==========================================================================
    Styles for post-component
    ========================================================================== */

.c-post {

}

    .c-post__header {
        padding: 5rem 0;
    }

        .c-post__title {
            margin: 0;
            color: $header-black;
        }

    .c-post__meta {
        margin: 2rem 0;
        padding: 2rem 0;
        opacity: 0.25;
        font-style: italic;

        transition: 250ms;

        &:hover {
            opacity: 1;
        }

        &-publish {
            
        }

        &-category {

        }

        &-modified {
            float: right;
            text-align: right;
        }

        &-tags {
            margin: 1rem 0;

            &-prefix {
                margin-right: 0.25rem;
            }
        }

        &-tag-pill {
            //margin: 0 0.5rem;
            padding: 0.25rem 0.5rem;
            border-radius: 0.15rem;
            background-color: $smoke;

            &--illustrator {
                background-color: orange;
            }
        }
    }

    .c-post__content {

        blockquote {
            margin: 2rem 0;
            padding: 1.5rem 3rem;
            border-left: 0.25rem solid $iron;

            p {
                margin-top: 0;
                color: $paragraph-black;
            }

            code,
            pre {
                margin-bottom: 0;
                color: $iron;
            }
        }
    }

    .c-post__nav {
        display: flex;
        margin: 2rem 0;

        &-link {
            padding: 3rem 0;
            flex: 1 1 0;

            font-size: $h4;

            &--next {

                &::before {
                    content: "←";
                    padding-right: 1rem;
                }
            }

            &--prev {
                text-align: right;

                &::after {
                    content: "→";
                    padding-left: 1rem;
                }
            }

            &--single {

            }
        }
    }
