/*  ==========================================================================
    Styles for comments-component
    ========================================================================== */

.c-read-more {
    display: block;
    margin: 5rem 0;
    text-align: center;
}

    .c-read-more__link {
        display: inline-block;
    }