@charset "UTF-8";
/*  ==========================================================================
    Styles for nw-beta

    Combining every .scss into main stylesheet
    ========================================================================== */
/*  ==========================================================================
    SASS variables
    ========================================================================== */
/*  ==========================================================================
    Colors
    ========================================================================== */
/*  ==========================================================================
    SASS mixins
    ========================================================================== */
.is-hidden {
  display: none;
}

.u-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-submit::before, .comment-reply-link::before {
  content: "+";
  margin-right: 0.25rem;
  font-weight: normal;
}

@-webkit-keyframes jellySlideLeft {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  4.2% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1);
  }
  8.31% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1);
  }
  12.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1);
  }
  16.62% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1);
  }
  27.73% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1);
  }
  38.84% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1);
  }
  61.06% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1);
  }
  83.28% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes jellySlideLeft {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  4.2% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1);
  }
  8.31% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1);
  }
  12.51% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1);
  }
  16.62% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1);
  }
  27.73% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1);
  }
  38.84% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1);
  }
  61.06% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1);
  }
  83.28% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@-webkit-keyframes pop {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.3% {
    -webkit-transform: matrix3d(0.514, 0, 0, 0, 0, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.514, 0, 0, 0, 0, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.61% {
    -webkit-transform: matrix3d(0.879, 0, 0, 0, 0, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.879, 0, 0, 0, 0, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.91% {
    -webkit-transform: matrix3d(1.052, 0, 0, 0, 0, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.052, 0, 0, 0, 0, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.22% {
    -webkit-transform: matrix3d(1.093, 0, 0, 0, 0, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.093, 0, 0, 0, 0, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.44% {
    -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.66% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.3% {
    -webkit-transform: matrix3d(0.514, 0, 0, 0, 0, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.514, 0, 0, 0, 0, 0.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.61% {
    -webkit-transform: matrix3d(0.879, 0, 0, 0, 0, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.879, 0, 0, 0, 0, 0.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.91% {
    -webkit-transform: matrix3d(1.052, 0, 0, 0, 0, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.052, 0, 0, 0, 0, 1.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.22% {
    -webkit-transform: matrix3d(1.093, 0, 0, 0, 0, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.093, 0, 0, 0, 0, 1.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.44% {
    -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.66% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/*  ==========================================================================
    Z-index scale
    ========================================================================== */
/*  ==========================================================================
    Media queries
    ========================================================================== */
/*! Typebase.less v0.1.0 | MIT License */
/* Header-sizes */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: "Merriweather", serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

/* Copy & Lists */
p {
  font-size: 1.25rem;
  line-height: 1.7;
  margin-top: 0.85rem;
  margin-bottom: 0.85rem;
}

ul,
ol {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  font-size: 1.25rem;
}

ul li,
ol li {
  line-height: 1;
  padding: 0.5rem;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.7;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: "Merriweather", serif;
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  line-height: 1.275;
}

h1 {
  font-size: 5.1rem;
}

@media (max-width: 62em) {
  h1 {
    font-size: 10.2vmin;
  }
}

h2 {
  font-size: 3.825rem;
}

@media (max-width: 62em) {
  h2 {
    font-size: 7.65vmin;
  }
}

h3 {
  font-size: 2.55rem;
}

@media (max-width: 62em) {
  h3 {
    font-size: 5.1vmin;
  }
}

h4 {
  font-size: 1.7rem;
}

@media (max-width: 62em) {
  h4 {
    font-size: 3.4vmin;
  }
}

h5 {
  font-size: 1.13333rem;
}

h6 {
  font-size: 0.85rem;
}

/* Links */
a {
  text-decoration: none;
}

/* Tables */
table {
  margin-top: 1.7rem;
  border-spacing: 0px;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  line-height: 1.7rem;
}

/* Code blocks */
code,
pre {
  font-family: Consolas, Monaco, monospace;
  font-size: 1.25rem;
  vertical-align: bottom;
}

/* Leading paragraph text */
.lead {
  font-size: 1.7rem;
}

/* Hug a the block above you */
.hug {
  margin-top: 0;
}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  display: block;
  margin: auto;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0;
  background: #eaeaea;
  position: relative;
  zoom: 1;
}

.flex-viewport {
  /*max-height: 600px;*/
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.loading .flex-viewport {
  min-height: 200px;
  max-height: 300px;
}

.flexslider .slides {
  zoom: 1;
}

.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
.flex-direction-nav {
  *height: 0;
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.flex-direction-nav .flex-prev {
  left: -50px;
}

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px;
}

.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  line-height: 1;
  display: inline-block;
  content: '\f001';
}

.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

.flex-pauseplay a:hover {
  opacity: 1;
}

.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 20px;
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

.flex-control-thumbs {
  display: table;
  table-layout: fixed;
  margin: 0;
  position: static;
  overflow: hidden;
}

.flex-control-thumbs li {
  display: table-cell;
  max-width: 20%;
  margin: 0;
  padding: 0;
}

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .5;
  cursor: pointer;
}

.flex-control-thumbs img:hover {
  opacity: 1;
}

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}

/*  ==========================================================================
    Base styles
    ========================================================================== */
html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

a {
  color: #222;
  -webkit-transition: 250ms;
          transition: 250ms;
}

a:hover {
  color: #5990ff;
}

a[href^="http://"]:not([href*="nicowesse.com"]),
a[href^="https://"]:not([href*="nicowesse.com"]) {
  color: #3d5990;
}

a[href^="http://"]:not([href*="nicowesse.com"])::after,
a[href^="https://"]:not([href*="nicowesse.com"])::after {
  content: "+";
  opacity: 0.5;
  vertical-align: super;
  font-size: smaller;
}

/*  ==========================================================================
    Grid - based on flexbox
    ========================================================================== */
.o-container {
  *zoom: 1;
}

.o-container:before,
.o-container:after {
  content: " ";
  display: table;
}

.o-container:after {
  clear: both;
}

.o-container {
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 48em) {
  .o-container {
    max-width: 45rem;
  }
}

@media (max-width: 62em) {
  .o-container {
    max-width: 60rem;
  }
}

.o-row {
  height: 100%;
  margin: 0 1rem;
}

[class*=".col"] {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/*  ==========================================================================
    Header styles for:
        .l-header
    ========================================================================== */
.l-header {
  display: table;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (max-width: 48rem) {
  .l-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-sitename {
  display: table-cell;
  padding: 5rem 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
}

@media (max-width: 48rem) {
  .c-sitename {
    display: block;
    margin-top: 5rem;
    padding: 4rem 0 6rem;
    font-size: 3.825rem;
    text-align: center;
  }
}

.c-sitename__title {
  margin: 0;
  font-size: 1.13333rem;
}

@media (max-width: 48rem) {
  .c-sitename__title {
    font-size: 2.55rem;
  }
}

.c-sitename__link {
  color: #222222;
}

.c-sitename__link:hover {
  color: #5990ff;
}

.c-sitename__tagline {
  margin-left: 1rem;
  opacity: 0.2;
}

.c-nav {
  display: table-cell;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  padding: 5rem 0;
  text-align: right;
}

@media (max-width: 48rem) {
  .c-nav {
    display: block;
    padding: 4rem 0 6rem;
    float: none;
    text-align: center;
  }
}

.c-nav__menu,
.c-nav ul {
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline-block;
  padding: 0.25rem;
  font-size: 1.13333rem;
  color: #222222;
  list-style: none;
}

.menu-item::after {
  content: "+";
  margin-left: 0.75rem;
  font-weight: 200;
}

.menu-item:last-child::after {
  content: "";
}

.menu-item:hover {
  color: #5990ff;
}

.menu-item:hover::after {
  color: #222222;
}

.menu-item a {
  color: currentColor;
}

@media (max-width: 48rem) {
  .menu-item a {
    padding: 1rem;
  }
}

.menu-item.current-menu-item,
.menu-item.current_page_parent {
  font-weight: bold;
}

/*  ==========================================================================
    Page styles for:
        .l-page
    ========================================================================== */
/*  ==========================================================================
    Header styles for:
        .l-footer
    ========================================================================== */
.l-footer {
  padding: 2.5rem 0 5rem;
  text-align: center;
}

.l-footer__copyright {
  opacity: 0.5;
}

.btn {
  position: relative;
  font-weight: bold;
  padding: 1rem 1.5rem;
  color: #222222;
  -webkit-transition: 250ms;
          transition: 250ms;
}

.btn:hover,
.btn:active {
  color: #5990ff;
}

.btn::before {
  content: "+";
  margin-right: 0.5rem;
  font-weight: normal;
}

/*  ==========================================================================
    Styles for content-component
    ========================================================================== */
.c-content {
  display: none;
}

.c-content__thumbnail {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  background-color: rgba(239, 239, 239, 0.25);
  background-size: cover;
  background-position: center;
  border: 0.15rem solid #222222;
  background-blend-mode: overlay;
}

.c-content.category-web-design:not(.has-post-thumbnail) .c-content__thumbnail {
  background-color: #ff6b66;
}

.c-content.category-graphic:not(.has-post-thumbnail) .c-content__thumbnail {
  background-color: #5990ff;
}

.c-content.category-video:not(.has-post-thumbnail) .c-content__thumbnail {
  background-color: #ffd470;
}

.c-content.category-photo:not(.has-post-thumbnail) .c-content__thumbnail {
  background-color: #66ff99;
}

.c-content__thumbnail-link {
  display: block;
  width: 100%;
  padding: 6rem 0;
  text-align: center;
}

.c-content.category-web .c-content__thumbnail-link {
  background-color: #ff6b66;
}

.c-content.category-graphic .c-content__thumbnail-link {
  background-color: #5990ff;
}

.c-content__thumbnail-link:hover .c-content__thumbnail-title::after {
  width: 100%;
  opacity: 1;
}

.c-content.sticky .c-content__thumbnail-link {
  padding: 10rem 0;
}

.c-content__thumbnail-title {
  position: relative;
  font-size: 1.7rem;
  font-weight: bold;
  color: #222222;
  -webkit-transition: padding 250ms;
          transition: padding 250ms;
}

.c-content__thumbnail-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 105%;
  height: 0.1rem;
  background-color: currentColor;
  opacity: 0;
  -webkit-transition: 250ms;
          transition: 250ms;
}

/*  ==========================================================================
    Styles for post-component
    ========================================================================== */
.c-post__header {
  padding: 5rem 0;
}

.c-post__title {
  margin: 0;
  color: #333;
}

.c-post__content blockquote {
  margin: 2rem 0;
  padding: 1.5rem 3rem;
  border-left: 0.25rem solid #CCCCCC;
}

.c-post__content blockquote p {
  margin-top: 0;
  color: #222;
}

.c-post__content blockquote code,
.c-post__content blockquote pre {
  margin-bottom: 0;
  color: #CCCCCC;
}

/*  ==========================================================================
    Styles for page-header-component
    ========================================================================== */
.c-page-header {
  margin: 5rem 0;
}

.c-page-header__title {
  margin: 0;
  color: #333;
}

/*  ==========================================================================
    Styles for pagination-component
    ========================================================================== */
.c-pagination {
  margin: 5rem 0;
}

.c-pagination__links {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.page-numbers {
  padding: 1.5rem 2rem 1rem;
  font-size: 1.25rem;
  -webkit-transition: 250ms;
          transition: 250ms;
}

.page-numbers.current {
  font-weight: bold;
}

/*  ==========================================================================
    Styles for gallery-component
    ========================================================================== */
.c-gallery__element {
  position: relative;
}

.c-gallery__image {
  max-height: 90%;
  max-height: 80vh;
}

.c-gallery__caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 1.5rem;
  color: #FAFAFA;
  text-align: center;
}

.c-gallery__caption::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: -webkit-radial-gradient(at bottom, rgba(34, 34, 34, 0.35) 0%, rgba(34, 34, 34, 0) 65%);
  background: radial-gradient(at bottom, rgba(34, 34, 34, 0.35) 0%, rgba(34, 34, 34, 0) 65%);
}

.c-gallery__image-title {
  position: relative;
  z-index: 200;
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.5rem 0;
}

.c-gallery__image-title + .c-gallery__image-caption::before {
  content: '';
  display: block;
  margin: 0 auto 1rem;
  width: 10%;
  height: 0;
  border-bottom: 0.15rem solid #CCCCCC;
}

.c-gallery__image-caption {
  position: relative;
  z-index: 200;
  display: block;
  font-size: 1.13333rem;
}

/*  ==========================================================================
    Styles for comments-component
    ========================================================================== */
.c-comments {
  margin: 5rem 0;
}

.c-comment__label {
  display: block;
  margin: 0.25rem 0;
  opacity: 0;
  -webkit-transition: 250ms;
          transition: 250ms;
}

.c-comment__label.is-focused {
  opacity: 0.5;
}

.c-comment__input {
  width: 100%;
  padding: 0.75rem 0.75rem 0.5rem;
  font-size: 1.25rem;
  border: 0 solid transparent;
  border-bottom: 0.25rem solid transparent;
  -webkit-transition: 250ms;
          transition: 250ms;
}

.c-comment__input:focus {
  outline: none;
  background-color: #EFEFEF;
  border-color: #EFEFEF;
}

.c-comment__input:valid {
  background-color: #EFEFEF;
}

.c-comment__input:valid:focus {
  border-color: rgba(153, 255, 102, 0.5);
}

.c-comment__input[value]:not([value=""]) {
  border-color: #EFEFEF;
}

.c-comment__input:invalid:focus {
  border-color: rgba(255, 102, 102, 0.5);
}

.form-submit:hover,
.form-submit:active {
  color: #5990ff;
}

.form-submit .submit {
  border: none;
  background: none;
  font-weight: bold;
}

#cancel-comment-reply-link {
  display: block;
  margin: 1rem 0;
  font-size: 1.25rem;
  opacity: 0.5;
}

.c-comment__list {
  padding: 0;
}

.comment {
  padding: 1rem 0;
  list-style: none;
}

.comment-body {
  margin: 2rem 0;
}

.comment-meta {
  margin-bottom: 1rem;
}

.comment-author {
  display: inline-block;
}

.comment-author .says {
  display: none;
}

.comment-metadata {
  display: inline-block;
  margin-left: 0.25rem;
  opacity: 0.2;
}

.comment-awaiting-moderation {
  padding: 0.5rem 1rem;
  border-left: 0.25rem solid #ff6b66;
}

.comment-content {
  padding: 1rem 0;
}

.comment-reply-link {
  font-weight: bold;
}

.children {
  border-left: 0.25rem solid #DDDDDD;
}

/*  ==========================================================================
    Styles for comments-component
    ========================================================================== */
.c-filter {
  padding: 10rem 0;
}

.c-filter__text {
  font-weight: normal;
}

.c-filter__dropdown {
  position: relative;
  display: inline;
  margin: 0;
  padding: 0;
  background-image: -webkit-linear-gradient(top, transparent 75%, #666666 75%);
  background-image: linear-gradient(to bottom, transparent 75%, #666666 75%);
  background-size: 0.25rem 0.25rem;
  background-position: 0 0.9em;
  background-repeat: repeat-x;
}

.c-filter__dropdown::after {
  position: relative;
  bottom: 0.1rem;
  content: "▼";
  font-size: 0.5em;
  opacity: 0.2;
}

.c-filter__selected {
  font-size: 1.13333rem;
  color: transparent;
  -webkit-transition: 250ms;
          transition: 250ms;
}

.c-filter.active .c-filter__selected {
  color: #222;
}

.c-filter__list-items {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.15rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 250ms;
          transition: 250ms;
}

.c-filter__dropdown:hover .c-filter__list-items {
  opacity: 1;
  visibility: visible;
}

.c-filter__item {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.13333rem;
  text-transform: lowercase;
  white-space: nowrap;
  opacity: 0.5;
}

.c-filter__item:hover {
  cursor: pointer;
  opacity: 0.75;
}

.c-filter__item.active {
  opacity: 1;
}

.c-filter__reset {
  float: right;
  opacity: 0;
  -webkit-transition: 250ms;
          transition: 250ms;
}

.c-filter.active .c-filter__reset {
  opacity: 0.3;
}

.c-filter.active .c-filter__reset:hover {
  cursor: pointer;
  opacity: 1;
}

/*  ==========================================================================
    Styles for comments-component
    ========================================================================== */
.c-read-more {
  display: block;
  margin: 5rem 0;
  text-align: center;
}

.c-read-more__link {
  display: inline-block;
}

/* ====================
	Search component: c-search-form
==================== */
.c-nav-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 9%;
      -ms-flex: 0 0 9%;
          flex: 0 0 9%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.1;
  -webkit-transition: 250ms;
          transition: 250ms;
}

.c-nav-search:hover,
.c-nav-search.is-active {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  opacity: 1;
}

@media (max-width: 48rem) {
  .c-nav-search {
    opacity: 0.5;
  }
}

.c-search-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.c-search-form__field {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 1rem;
  font-size: 1.13333rem;
  font-weight: bold;
  border: 0.15rem solid #666666;
  -webkit-transition: 250ms;
          transition: 250ms;
}

.c-search-form__field:focus {
  border-color: #222222;
  outline: none;
}

.c-nav-search .c-search-form__field {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  padding: 0rem 0.5rem;
  font-size: 1rem;
  border: none;
}

.c-nav-search.is-active .c-search-form__field {
  border-bottom: 0.15rem solid #666666;
}

.c-search-form__submit-container {
  padding: 1rem 2rem;
  border: 0.15rem solid #666666;
  border-left: none;
  background-color: #F6F6F6;
  -webkit-transition: 250ms;
          transition: 250ms;
}

.c-search-form__submit-container:hover {
  background-color: #EEEEEE;
}

.c-search-form__submit-container:active,
.c-search-form__submit-container:focus {
  background-color: #5990ff;
  outline: 0;
}

.c-nav-search .c-search-form__submit-container {
  padding: 0;
  background-color: transparent;
  border: none;
}

.c-nav-search .c-search-form__submit-container::before {
  content: "🔍";
}

.c-nav-search.is-active .c-search-form__submit-container {
  border-bottom: 0.15rem solid #666666;
}

.c-search-form__submit {
  font-size: 1.13333rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  padding: 0;
}

.c-nav-search .c-search-form__submit {
  padding: 0.5rem;
  content: "";
}

.c-nav-search .c-search-form__submit::before {
  content: "🔍";
}
